* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  color: #fff;
}

.container {
  /* max-width: 100vw; */
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}
.author-img {
  border-radius: 50%;
  width: 8rem;
  margin-bottom: 2.5rem;
}
.social-profile {
  max-width: 36rem;
  background-color: hsl(0, 0%, 12%);
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
}
.name {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}
.birth-place {
  color: hsl(75, 94%, 57%);
  margin-bottom: 2rem;
}
.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.job {
  color: rgb(203, 203, 203);
  margin-bottom: 1.5rem;
}

.link {
  display: block;
  width: 100%;
  padding: 1.2rem 0;
  text-align: center;
  border-radius: 0.8rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: hsl(0, 0%, 20%);
}

.link:link,
.link:visited {
  color: #fff;
  background-color: hsl(0, 0%, 20%);
}
.link:hover,
.link:active {
  color: hsl(0, 0%, 12%);
  background-color: hsl(75, 94%, 57%);
}

@media (max-width: 460px) {
  .social-profile {
    max-width: 30rem;
  }
  .name {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
}
.attribution {
  text-align: center;
  margin: 2rem 0;
  color: #cfcfcf;
  font-size: 1.2rem;
}
.attribution a {
  color: #a6a6a6;
}
